# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

coverage/

# Test binary, built with `go test -c`
*.test

bin
out
generated
.go
.push-*
.container-*
.dockerfile-*

internal/core/booking/repositories/test.db
.idea

mocks/

.DS_Store
